.material-icons {
    font-family: 'Material Icons' !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    font-style: normal;
    // display: inline-block;
    // line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    margin-right: -30px;

    vertical-align: middle !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.hand {
    cursor: pointer;
}

mat-card {
    max-width: 1000px;
}