<div class="container-fluid" style="max-width:800px;">
  <div class="d-none d-sm-none d-md-block">
    <div style="margin-top: 25px;">
    </div>
  </div>
  <div class="d-block d-sm-block d-md-none">
    <div style="margin-top: -15px;">
    </div>
  </div>

  <div class="row mat-elevation-z4" style="max-width: 670px; margin-bottom:30px;">
    <!-- style="padding-right: 30px; margin-right: -20px;" 700-->
    <div class="col-md-6">
      <br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Narendra Allam, Chairman & CEO, Rossum Computing Inc.</b>, is a renowned
        trainer and mentor in the IT industry. His passion for teaching made him one of the top IT trainers in INDIA.
        He started software trainings in the year, 2005.
      </p>

      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;He started his IT career as a C++ programmer and worked for Microsoft,
        Cisco, Bank Of America and few other MNCs.
        Worked with various technologies and domains over a period of 15 years and
        started his own IT firm Rossum Computing in 2017.
        He is the founder member of Credito Network (Australia) which has a patent on
        Financial Fraud Analytics.
      </p>

      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Naren started Python trainings in the year 2007, which made him a
        prominent Python trainer. Students often call him <strong><i>Python Guru</i></strong> and he is highly
        respected by his massive student following.
        <br>
        <br>
        <b>
          <ul>
            <li>200+ Batches of Training</li>
            <li>7000+ Trained Candidates</li>
            <li>12000+ Training Hours </li>
          </ul>
        </b>
        By 2019 January.

      </p>
    </div>
    <!-- <div class="col-md-1">

    </div> -->
    <div class="col-md-4 d-flex display-content-center ">
      <!-- 570 mb-2  margin-left: 30px;-->
      <div class="d-none d-sm-none d-md-block">
        <img src="assets/images/hero/naren_about_pic1.png" height="720px"
        style="object-fit: contain; border-radius: 3px; margin-top: auto; margin-bottom: auto; margin-left: 22px;" class="mat-elevation-z4">
      </div>
      <div class="d-block d-sm-block d-md-none">
        <img src="assets/images/hero/naren_about_pic1.png" height="720px"
        style="object-fit: contain; border-radius: 3px; margin: auto;" class="mat-elevation-z4">
      </div>
      <!-- height="750px" -->
    </div>
  </div>
</div>
