<div class="container-fluid" style="max-width: 1200px; margin-bottom:30px;">
  <!--  -->
  <div class="d-none d-sm-none d-md-block">
    <div style="margin-top: 25px;">
    </div>
  </div>
  <div class="d-block d-sm-block d-md-none">
    <div style="margin-top: -15px;">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div clas="col-md-12">
      <mat-card style="color:rgb(88, 88, 88);font-size: 30px; " class="mat-elevation-z4 mx-2 my-2">
        <mat-card-content>
          <div class="row card-header-custom mb-2">
            <div class="col-md-8 d-flex justify-content-start">
              <h5 class="heading">Python Pro</h5>
            </div>
            <div class="col-md-4">
              <div class="d-none d-sm-none d-md-block">
                <div class="d-flex justify-content-end">
                  <span><strong>Program 1</strong></span>
                </div>
              </div>
              <div class="d-block d-sm-block d-md-none">
                <div class="d-flex justify-content-start">
                  <span><strong>Program 1</strong></span>
                </div>
              </div>
            </div>
          </div>
          <!-- <h5 class="heading">Python Pro</h5> -->
          <div>
            <h6>For Working Professionals & Job Aspirants</h6>
            <p style="font-size: 16px;"><strong>Duration</strong>: 50 Hrs (60days)</p>
            <!-- <p style="font-size: 16px;"><strong>Prerequisite</strong>: Knowledge in at least one
              Programming/scripting </p> -->
            <p style="font-size: 16px ;"><strong>Prerequisite</strong>: Basic knowledge on one
              general purpose language (C/Java/C#/Python) </p>
            <p style="font-size: 16px;">This program targets 2 job profiles:</p>
            <p style="font-size: 16px;"><strong>A) </strong> Python web development.</p>
            <p style="font-size: 16px;"><strong>B) </strong> Python Data Analysis.</p>
            <p style="font-size: 16px;">
              <li>Python Programming Techniques</li>
              <li>Data Analysis & Analytics</li>
              <li>Web frameworks & REST API</li>
              <li>Cloud deployment with AWS</li>
              <li>Quality metrics - Unit Testing, Logging, Code Coverage </li>
              <li>With Real-time Project Scenarios & Tasks</li>
              <li>Automation Techniques</li>
            </p>
            <p style="font-size: 16px;"><strong>Post Training:​</strong></p>
            <p style="font-size: 16px;">
              <li>Resume Preparation</li>
              <li>Interview Preparation</li>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div clas="col-md-12">
      <mat-card style="background-color:white; color:rgb(88, 88, 88); font-size: 30px;"
        class="mat-elevation-z4 mx-2 my-2">
        <mat-card-content>
          <div class="row card-header-custom mb-2">
            <div class="col-md-8 d-flex justify-content-start">
              <h5 class="heading">Career Orientation Program (COP)</h5>
            </div>
            <div class="col-md-4">
              <div class="d-none d-sm-none d-md-block">
                <div class="d-flex justify-content-end">
                  <span><strong>Program 2</strong></span>
                </div>
              </div>
              <div class="d-block d-sm-block d-md-none">
                <div class="d-flex justify-content-start">
                  <span><strong>Program 2</strong></span>
                </div>
              </div>
            </div>
          </div>
          <h6>100% Job Assistance for Freshers from 2015</h6>
          <p style="font-size: 16px ;"><strong>Duration</strong>: (180 hrs, 4 hrs Per day) 2
            Months</p>
          <p style="font-size: 16px ;"><strong>Prerequisite</strong>: Basic knowledge on one
            general purpose language (C/Java/C#/Python) </p>
          <p style="font-size: 16px ;">Main objective of this program is to transform a
            candidate into a full-fledged Python full-stack developer. </p>
          <p style="font-size: 16px;">
            <li>Python Programming Techniques</li>
            <li>Data Analysis & Analytics</li>
            <li>Web frameworks & REST API</li>
            <li>Cloud deployment with AWS</li>
            <li>Quality metrics - Unit Testing, Logging, Code Coverage</li>
            <li>With Real-Time Project Scenarios & Tasks</li>
            <li>Introduction to ML/AI</li>
            <li>Angular 2, Web app development, UI</li>
            <li>Git Repository</li>
            <li>Agile Methodologies</li>
            <li>4 Real-time, end-to-end Projects</li>
            <li>A set of interview questions and programs for practice</li>
          </p>
          <p style="font-size: 16px;"><strong>Post Training:​</strong></p>
          <p style="font-size: 16px;">
            <li>Resume Preparation</li>
            <li>Mock Interviews</li>
            <li>Interview Preparation</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div clas="col-md-12 d-flex justify-content-center">
      <mat-card style="background-color:white; color:rgb(88, 88, 88); font-size: 30px;"
        class="mat-elevation-z4 mx-2 my-2">
        <mat-card-content>
          <div class="row card-header-custom mb-2">
            <div class="col-md-8 d-flex justify-content-start">
              <h5 class="heading">Data Analytics</h5>
            </div>
            <div class="col-md-4">
              <div class="d-none d-sm-none d-md-block">
                <div class="d-flex justify-content-end">
                  <span><strong>Program 3</strong></span>
                </div>
              </div>
              <div class="d-block d-sm-block d-md-none">
                <div class="d-flex justify-content-start">
                  <span><strong>Program 3</strong></span>
                </div>
              </div>
            </div>
          </div>
          <!-- <h6>Program 3</h6>
        <h5 class="heading">Data Analytics</h5> -->
          <!-- <h4 style="margin-left: -120px;">For Working Professionals & Job Aspirants</h4> -->
          <p style="font-size: 16px ;"><strong>Duration</strong>: (45 Hrs) 2 Months</p>
          <p style="font-size: 16px ;"><strong>Prerequisite</strong>: Basic knowledge on one
            general purpose language (C/Java/C#/Python)</p>
          <p style="font-size: 16px;">Main objective of this program is to transform a
            candidate into Machine Learning Engineer</p>
          <p style="font-size: 16px;">
            <li>Python Programming Techniques</li>
            <li>Data Analysis & Visualization</li>
            <li>Math For Data Science</li>
            <li>Introduction to Data Science</li>
            <li>Machine Learning - Scikit Learn</li>
            <li>Deep Learning - Keras & Tensor Flow</li>
            <li>BIGDATA With Apache Spark</li>
            <li>Data science project management</li>
            <li>With Real-time Project Scenarios & Tasks</li>
            <!-- <li>2 Real-Time, end-to-end Projects</li> -->
          </p>
          <p style="font-size: 16px;"><strong>Post Training:​</strong></p>
          <p style="font-size: 16px;">
            <li>Resume Preparation</li>
            <li>Interview Preparation</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div clas="col-md-12 d-flex justify-content-center mx-1">
      <mat-card style="background-color:white; color:rgb(88, 88, 88); font-size: 30px;"
        class="mat-elevation-z4 mx-2 my-2">
        <mat-card-content>
          <div class="row card-header-custom mb-2">
            <div class="col-md-8 d-flex justify-content-start">
              <h5 class="heading">Graph Analytics (Neo4j & with Spark)</h5>
            </div>
            <div class="col-md-4">
              <div class="d-none d-sm-none d-md-block">
                <div class="d-flex justify-content-end">
                  <span><strong>Program 4</strong></span>
                </div>
              </div>
              <div class="d-block d-sm-block d-md-none">
                <div class="d-flex justify-content-start">
                  <span><strong>Program 4</strong></span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h6>For Working Professionals & Job Aspirants</h6>
            <p style="font-size: 16px;"><strong>Duration</strong>: (30 Hrs) 1 Month</p>
            <p style="font-size: 16px;"><strong>Prerequisite</strong>: Basic knowledge on one
              general purpose language (C/Java/C#/Python)</p>
            <p style="font-size: 16px;">Main objective of this program is to give the hands-on
              to candidate in Graph Databases & Analytics with Neo4J & Spark</p>
            <p style="font-size: 16px;">
              <li>Graph Theory and Concepts</li>
              <li>Graph Platforms and Processing</li>
              <li>Neo4J & Spark Platform Setup</li>
              <li>Programming py2neo & pyspark</li>
              <li>CRUD Operations </li>
              <li>Cypher Query Language (CQL)</li>
              <li>Pathfinding and Graph Search Algorithms</li>
              <li>Centrality Algorithms</li>
              <li>Page Rank</li>
              <li>Community Detection Algorithms</li>
              <li>Finding Isolated Groups</li>
              <li>Graph Algorithms use cases</li>
              <li>Crime Analysis & POLE - Model</li>
              <li>Using Graph Algorithms to enhance Machine Learning</li>
            </p>
            <p style="font-size: 16px;"><strong>Post Training:​</strong></p>
            <p style="font-size: 16px;">
              <li>Resume Preparation</li>
              <li>Interview Preparation</li>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>