/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content-small {
    display: none;
    font-size: 12px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-small a {
    color: black;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content-small a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: inline-block;}

.dropdown:hover .dropdown-content-small {display: inline-block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.roboto-font-light {
    font-family: 'Roboto Light' !important;
}

.mat-elevation-custom {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px 0 20px 0;
    height:100px;
}

.mat-elevation-navbar {
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 0;
    right: 0 !important;
    // background-image: linear-gradient(#39935A,#38C69F);
    background-color:  #F2F2F2;
    height: 40px !important;
    font-size: 14px !important;
    // box-shadow: 0px 0px 5px rgb(185, 185, 185);
}

.mat-elevation-navbar1 {
    position: fixed;
    z-index: 2;
    top: 140px;
    left: 0;
    right: 0 !important;
    // background-image: linear-gradient(#39935A,#38C69F);
    background-color: rgb(233, 232, 232);
    height: 40px !important;
    font-size: 14px !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    font-style: normal;
    // display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    // margin-right: px;
    margin-bottom: 4px;
    vertical-align: middle !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons-search {
    font-family: 'Material Icons' !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    font-style: normal;
    display: inline-block;
    // line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #6d6e70;

    margin-right: 8px;
    vertical-align: middle !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons-custom {
    font-family: 'Material Icons' !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    font-style: normal;
    // display: inline-block;
    // line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    margin-right: -4px;
    margin-top: 5px;
    vertical-align: middle !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.rotate90 {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    -ms-transform: rotate(320deg);
    transform: rotate(320deg);
}

.nav-hover {
    //color:#353535;
    color: black;
    height: 40px !important;
    //background-color:#58a746;
    // background-color:rgb(88,167,70);
}

.nav-hover1 {
    // color:#353535;
    color: black;
    height: 40px !important;
    // background-color:rgb(70,106,167);
    // background-color:#466aa7;
}

.nav-hover:hover{
    color: white !important;
    height: 40px !important;
    background-color:#58a746;
    transition: 0.3s;
}

.nav-hover1:hover{
    color: white !important;
    height: 40px !important;
    background-color:#466aa7;
    transition: 0.3s;
}

.search{
    width: 1200px;
    height: 40px;
    border-radius: 1em;
    border: 1px solid gray !important;
    padding: 5px 0 0 12px; 
}

.ro-title-image {
    // float: right;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width:200px;
    font-family: 'super comic' !important;
    letter-spacing: 3px;
    font-size: 60px;
    // color: #f37658;
    color:#466aa7;
    // margin-right: auto;
    // margin-left: 50px;
    // margin-right: auto;
}

.ro-title-image1 {
    // float: right;
    cursor: pointer;
    display: block;
    // margin-left: 100px;
    margin-left: auto;
    // margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width:270px; // 135
    font-family: 'super comic' !important;
    letter-spacing: 3px;
    font-size: 60px;
    // color: #f37658;
    color:#58a746;
    // margin-right: auto;
    // margin-left: 50px;
    // margin-right: auto;
}

.ro-title-image-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    // width:400px;
    font-family: 'super comic' !important;
    letter-spacing: 3px;
    font-size: 30px;
    color: #58a746 ;
    // margin-right: auto;
    // margin-left: 50px;
    // margin-right: auto;
}

@import url('https://fonts.googleapis.com/css?family=Arvo');

.ro-title {
    display: block;
    // margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    color: white;
    margin-left:auto;
    // vertical-align: middle !important;
    font-size: 2em;
    font-family: neon 80s !important;
}

.ro-title-sm {
    display: block;
    // margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    color: white;
    margin-left:10px;
    // vertical-align: middle !important;
    font-size: 1em;
    font-family: 'Arvo', serif !important;
}

.topic_card{
    width: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
}

.topicImage{
    max-width: 300px;
    height: 250px;
    margin: 45px 50px 50px 45px ;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder { /* Edge */
    color: #6d6e70;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6d6e70;
}

::placeholder {
    color: #6d6e70;
    font-size: 13px;
    font-family: 'Roboto Light' !important;
}

.footer {
    position: relative;
    background-color: #e9e8e6;
    bottom: 0;
}

.footer-icon{
    margin: 0 10px 0 10px;
    height: 50px;
    object-fit: contain;
}


.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    z-index: 1;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    // display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top mat-icon {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

.return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.return-to-top-clicked {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.material-icons-scroll {
    font-family: 'Material Icons' !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    font-style: normal;
    // display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    // margin-bottom: 4px;
    vertical-align: middle !important;
    margin-bottom: 10px !important;
    margin-left: -3px !important;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
