<mat-toolbar class="mat-elevation-z5">
  <mat-toolbar-row>
    <!-- (click)="sidenav.toggle()"  -->
    <button mat-icon-button style="outline: none" class=" d-block d-sm-block d-md-none">
      <mat-icon class="ro-material-icon">menu</mat-icon>
    </button>
    <!-- for above small screens -->
    <!-- <img class="ro-title-image d-none d-sm-block" src="assets/images/title/pythongurutitle2.png" alt="Image"> -->
    <p class="ro-title-image1 d d-flex justify-content-center d-none d-sm-none d-md-block" (click)="home()">PYTHON</p>
    <p class="ro-title-image d d-flex justify-content-center d-none d-sm-none d-md-block" (click)="home()">GURU</p>
    <p class="ro-title-image-sm d d-flex justify-content-center d-block d-sm-block d-md-none" (click)="home()">PYTHON
      GURU</p>
    <div style="margin-right:auto; margin-left: -30px;">
      <img src="assets/images/title/Naren-pic.png" width="100px">
    </div>
    <!-- for below small screens -->
    <!-- <img class="ro-title-image-sm d-block d-sm-none" src="assets/images/credito.png" alt="Image"> -->
    <!-- <p class="ro-title-sm d-block d-sm-none">PYTHON GURU</p> -->

    <!-- <button mat-raised-button class="logout-button d-none d-sm-block" [routerLink]="['/login']">Logout
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="" width="20px">
      <mat-icon class="ro-material-icon">logout-button</mat-icon>
    </button>
    <img [routerLink]="['/login']" class="d-block d-sm-none" src="" width="20px" style="margin-right: 10px;"> -->
  </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar class="mat-elevation-navbar d-none d-sm-none d-md-block ">
  <div class="row no-gutters" style="width:100%; cursor: pointer;">
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>Python</p>
      </div>
    </div>
    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>Machine Learning</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>C++</p>
      </div>
    </div>
    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>Graph Analytics</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>Blockchain</p>
      </div>
    </div>
    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>IoT</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center  mt-1">
        <p>AR/VR/MR</p>
      </div>
    </div>
    <div class=" nav-hover1 col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>.NET</p>
      </div>
    </div>


    <div class="nav-hover col-md">
        <div class="d-flex justify-content-center mt-1">
          <p>JAVA</p>
        </div>
      </div>
      <div class="nav-hover1 col-md">
        <div class="d-flex justify-content-center mt-1">
          <p>Angular</p>
        </div>
      </div>
      <div class="nav-hover col-md">
        <div class="d-flex justify-content-center mt-1">
          <p>Flutter</p>
        </div>
      </div>
      <div class="nav-hover1 col-md">
        <div class="d-flex justify-content-center mt-1">
          <p>GO</p>
        </div>
      </div>
      <div class="nav-hover col-md">
        <div class="d-flex justify-content-center  mt-1">
          <p>Algorithms</p>
        </div>
      </div>
      <div class="nav-hover1 col-md">
        <div class="d-flex justify-content-center  mt-1">
          <p>DevOps</p>
        </div>
      </div>
      <div class="nav-hover col-md">
        <div class="d-flex justify-content-center  mt-1">
          <p>BigData</p>
        </div>
      </div>
      <div class="nav-hover1 col-md">
        <div class="d-flex justify-content-center  mt-1">
          <p>Programming</p>
        </div>
      </div>
  </div>
</mat-toolbar>
<!-- <mat-toolbar class="mat-elevation-navbar1 d-none d-sm-none d-md-block ">
  <div class="row no-gutters" style="width:100%; cursor: pointer; font-family: 'Roboto Light' !important;">

    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>JAVA</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>Angular</p>
      </div>
    </div>
    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>Flutter</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center mt-1">
        <p>GO</p>
      </div>
    </div>
    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center  mt-1">
        <p>Algorithms</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center  mt-1">
        <p>DevOps</p>
      </div>
    </div>
    <div class="nav-hover1 col-md">
      <div class="d-flex justify-content-center  mt-1">
        <p>BigData</p>
      </div>
    </div>
    <div class="nav-hover col-md">
      <div class="d-flex justify-content-center  mt-1">
        <p>Programming</p>
      </div>
    </div>
  </div>
</mat-toolbar> -->

<div class="container-fluid" style="max-width: width 1200px;">
  <div style="margin-top: 160px;">
    <!-- <div class="row">
        <div class="col-xl-12">
          <div class="d-flex justify-content-center">
            <img src="assets/images/hero/pythonguru6.jpg" width="800px" height="240px;">
          </div>
        </div>
      </div> -->
    <br>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- rgb(202, 202, 202) -->
<div width="100%" style="background-color: #F2F2F2 ; bottom: 0 !important">
  <div class="container-fluid" style="max-width:1200px;">
    <div class="row" style="width:100%; min-height: 404px;  padding-top:60px;">
      <!-- <div class="col-lg-1" style="margin-right:120px; ">
      </div> -->
      <div class="col-lg-4 col-sm-12 col-md-4">
        <h4 class="d-flex justify-content-center" style="width:100%; color: #3f8ccb;">Start a Course</h4><br>
        <p>
          For courses regarding Python, Machine Learning and Data Science visit the following link <span>
            <a href="https://www.narentrainings.com/courses">www.narentrainings.com</a> </span>
        </p>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-4">
        <h4 class="d-flex justify-content-center" style="width:100%; color: #3f8ccb;">Our Services</h4><br>
        <span>
          <span><a href="https://www.rossum.io/">Rossum Computing Pvt Ltd</a></span> is a company which is assosiated
          with ProGuru Blog. Rossum Computing provides
          services across globe in Technologies like Blockchain, AI & ML, IoT, AR/VR.
        </span>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-4">
        <h4 class="d-flex justify-content-center" style="width:100%; color: #3f8ccb;">About Us</h4><br>
        <p>
          <!-- Narendra Allam, is a renowned trainer and mentor in the IT industry.,  his passion on teaching made him one of the top IT trainers in INDIA. he started software trainings in the year, 2005. -->
          Naren Allam started Python trainings since 2007 and this made him a prominent Python trainer and students
          often call him Python Guru and he is highly respected by his massive student following.
        </p>
      </div>
      <!-- <div class="col-lg-1">

  </div> -->
      <div class="row" style="width:100%;">
        <!-- <div class="col-lg-1">

    </div> -->
        <div class="col-lg-2 col-md-12 col-sm-12">
          <div class="d-flex justify-content-center">
            <h5 style="color:#313131;">Follow Us On:</h5>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex justify-content-center">
          <div class=" d-flex justify-content-center">
            <img src="assets/images/blocks/Group 167.png" height="32px" width="187px">
          </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex justify-content-center">
          <img src="assets/images/blocks/Group 168.png" height="32px" width="187px">
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex justify-content-center">
          <img src="assets/images/blocks/Group 169.png" height="32px" width="187px">
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 d-flex justify-content-center">
          <img src="assets/images/blocks/Group 170.png" height="32px" width="187px">
        </div>

        <!-- <div class="col-lg-1">

    </div> -->
      </div>
      <div class="row" style="width:100%; ">
        <!-- <div class="col-lg-1">

    </div> -->
        <div class="col-lg-12 d-flex justify-content-center" style="color: #313131;">
          <strong> Copyrights reserved @2019 </strong>
        </div>
        <!-- <div class="col-lg-1">

    </div> -->
      </div>
    </div>
  </div>
</div>